/* -------Main pane-------*/
.tasks_main {
    -fx-background-color: #6FB0FF;
}
.tasks_main .new_task_button { //'New Task' button
    -fx-background-color: white;
}
.tasks_main .new_task_button:pressed {
    -fx-background-color: #C5C4C4;
}
.tasks_main .tasks_label{
    -fx-font-family: "Arial";
    -fx-font-size:30;
}

/* -------Tasks containers-------*/
.tasks_main .scroll-pane {
    -fx-background-color: transparent;
}
.tasks_main .scroll-pane .tasks_vbox {
    -fx-background-color: #6FB0FF;
}

/* -------Tasks-------*/
.task {
    -fx-background-color: transparent;
}
.task .content {
    -fx-background-radius: 10px 10px 10px 10px;
    -fx-border-color: transparent;
}
.task .content .label {
    -fx-font-size: 14;
}
.task_hbox .label{
    -fx-font-size: 14;
}
.task_hbox .button {
   -fx-font-size: 12;
   -fx-background-color: transparent;
}
.task .title{
    -fx-background-radius: 10px 10px 10px 10px; //Rounded corners
    -fx-background-color: #F6FDFF;
    -fx-padding: 20px 0px 20px 0px;
    -fx-collapsed: false;
}
.task .title .arrow-button { //code
    visibility: hidden;
}
.task .title .radio-button .radio{
    -fx-padding: 5;
    -fx-background-color: white;
    -fx-border-color: #545050;
    -fx-shape: "M0,0 A1,1 0 1,0 0,-0.01 Z";
}
.task .title .radio-button:selected .radio {
    -fx-background-color: #585858;
}
.task .title .radio-button .radio .dot {
    -fx-background-color: transparent;
}


/* -------Task creation pop-up-------*/
.create_task_vbox{
    -fx-background-color: #EFF2F6;
}
.create_task_vbox .button{
    -fx-border-color: #585858;
    -fx-background-color: white;
}
.create_task_vbox .button:pressed{
    -fx-background-color: #E8E8E8;
}
.create_task_vbox .pickers_hbox .color-picker {
    -fx-background-color: #E8E8E8;
}

/* -------Sort button-------*/
.tasks_main #sortButton {
    -fx-background-color: white;
    -fx-padding: 0 2 0 2;
}
.tasks_main #sortButton .arrow-button{
    -fx-background-color: white;
    visibility: hidden;
    -fx-pref-width: 0;
}
.tasks_main #sortButton:showing,
.tasks_main #sortButton:hover{
    -fx-background-color: #C5C4C4;
}
